# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/

# Production
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test binary
*.test

# Go coverage output
*.out

# IDEs and editors
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
*.pem
